# Python Basics

Hier werden die Grundlagen von Python erklärt... *kursiv* **fett**

In [1]:
print("Hello World!")

Hello World!

In [4]:
# ->Dies ist ein Kommentar und wird nicht ausgeführt
print("Etwas")

Etwas

## Einfache Datentypen

In [6]:
# Variablen- und Wertezuweisung
name = "Lovelace"
print (name)

Lovelace

In [8]:
# Strings
first_name = "Ada"
print (first_name)

Ada

In [9]:
first_name

'Ada'

In [10]:
name
first_name

'Ada'

In [11]:
print (name)
print (first_name)

Lovelace
Ada

In [12]:
# Intergers = Ganzzahlen
age = 73
print (age)

73

In [13]:
# Floats = Gleitkommazahlen 
size = 1.7123
print (size)

1.7123

In [15]:
# Boolen = Boolsche Werte
knows_math = True
likes_gardening = False
print (knows_math)
print (likes_gardening)

True
False

In [16]:
type (likes_gardening)

bool

In [17]:
type (name)

str

In [18]:
type (first_name)

str

In [19]:
type (age)

int

In [20]:
type (size)

float

## Operatoren

In [21]:
5 + 5

10

In [22]:
10 * 5

50

In [23]:
age * 100

7300

In [24]:
name + name

'LovelaceLovelace'

In [25]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [26]:
name + age

TypeError: can only concatenate str (not "int") to str

In [28]:
# Type Conversion = Sachen um zu konventieren
str(age)

'73'

In [29]:
name + str(age)

'Lovelace73'

In [30]:
size/age

0.023456164383561642

In [31]:
name_of_articels = "50"

In [32]:
name_of_articels / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [33]:
int(name_of_articels) / 10

5.0

## Funktionen und Methoden nutzen

In [34]:
len(name)

8

In [45]:
# Einmalige Großschrift
name.upper()

'LOVELACE'

In [36]:
name

'Lovelace'

In [37]:
name.upper

In [46]:
# sucht bestimmt Buchstaben -Ketten im String
name.count("e")

2

In [40]:
name.count("ov")

1

In [43]:
name.replace("lace" , " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [47]:
# Listen
names = ["Lovelace", "Darwin", "Currie", "Hawking"]

In [48]:
names

['Lovelace', 'Darwin', 'Currie', 'Hawking']

In [49]:
names[1]

'Darwin'

In [53]:
# Zählung fängt immer bei 0 an
names[0]

'Lovelace'

In [51]:
name[0]

'L'

In [54]:
names[-1]

'Hawking'

In [56]:
# eins bis 2
names[0:2]

['Lovelace', 'Darwin']

In [57]:
names[2:4]

['Currie', 'Hawking']

In [3]:
# Dictionaries = Schlüssel-Werte-Paare
authors_and_birth_years = {"Lovelace": 1815, 
                            "Darwin": 1809,
                            "Noether": 1882}

In [4]:
authors_and_birth_years["Darwin"]

1809

## for Loops (for Schleifen)
Schleifen Körper MUSS eingerückt sein!

In [68]:
for person in names:
    print(person + " did awasome stuff.")

Lovelace did awasome stuff.
Darwin did awasome stuff.
Currie did awasome stuff.
Hawking did awasome stuff.

In [70]:
for person in names:
    print(person + " did awasome stuff.")
    print ("-----")

print("=======")

Lovelace did awasome stuff.
-----
Darwin did awasome stuff.
-----
Currie did awasome stuff.
-----
Hawking did awasome stuff.
-----
=======

In [71]:
names

['Lovelace', 'Darwin', 'Currie', 'Hawking']

In [74]:
seasons = "spring"
print(seasons)
seasons = "Summer"
print(seasons)

spring
Summer

In [79]:
seasons = "Winter"

In [80]:
print(seasons)

Winter

In [85]:
x = "blub"
x = "bla"

In [86]:
print(x)

bla

In [87]:
%who

age	 authors_and_bearth_years	 authors_and_birth_years	 first_name	 knows_math	 likes_gardening	 name	 name_of_articels	 names
person	 seasons	 size	 x

In [88]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Conditionals (Bedingte Anweisungen)

In [89]:
20 > 10

True

In [90]:
20 < 10

False

In [91]:
temp = 20

In [92]:
if temp > 15:
    print(" it's warm")

 it's warm

In [93]:
temp = 10
if temp > 15:
    print(" it's warm")

In [94]:
temp = 10
if temp > 15:
    print(" it's warm")
else:
    print(" it's cold")

 it's cold

In [96]:
temp = 15
if temp > 15:
    print(" it's warm")
else:
    print(" it's cold")

 it's cold

In [98]:
temp = 15
if temp >= 15:
    print(" it's warm")
else:
    print(" it's cold")

 it's warm

In [99]:
import os

print(os.path.abspath(os.getcwd()))

C:\Users\AFB